@import "partial/variables",
"partial/reset",
"partial/_mixin";
// common
.mt5 {
    margin-top: pxTorem(5px);
}

.mt20 {
    margin-top: pxTorem(20px);
}

.pl0 {
    padding-left: 0;
}

.pt0 {
    padding-top: 0;
}

.pt20 {
    padding-top: 30px;
}

.pr0 {
    padding-right: 0;
}

.mgnone {
    margin: 0;
}

.color-yellow1 {
    color: $color-yellow01;
}

.color-yellow {
    color: $color-yellow;
}

.color-blue {
    color: $color-blue;
}

// page
.mainTop {
    position: absolute;
    height: pxTorem(94px);
    background: url("./../img/bg_top.png") no-repeat; // background-size: none 80%;
    text-align: center; // background-size: 50% 100%;
    background-position: top 30%;
    background-position-x: 51.5%;
    width: 100%;
    background-size: 42% 96%;
    .headtip {
        line-height: pxTorem(80px);
        font-size: pxTorem(32px);
        color: #fff;
    }
    z-index: 1;
}

.imapContainer {
    position: relative; // height: 100%; // border: 1px solid #ffffff
    height: 100%; // padding: 40px auto;
    margin-top: 10px;
}

.imapDiv {
    position: relative;
    z-index: 2; //   margin-top: calc(100% - 80px);
    height: 100%; //   border: 1px solid #0f34a9;
    overflow: hidden;
}

.lineDiv {
    //   border: 1px solid #0f34a9;
}

// part 1
.txtTip {
    // float: right;
    background: url("./../img/txt_tip.png") center right no-repeat;
    width: 100%;
    line-height: pxTorem(36px);
    height: pxTorem(36px);
    text-align: right;
    padding-right: pxTorem(16px);
    color: $color-yellow;
}

.txtTipPart2 {
    // float: right;
    background: url("./../img/txt_tip.png") center left no-repeat;
    width: 60%;
    line-height: pxTorem(36px);
    height: pxTorem(36px);
    text-align: left; //   padding-right: pxTorem(16px);
    padding-left: pxTorem(72px);
    color: $color-yellow;
    position: absolute;
    z-index: 3;
}

.leftControl {
    overflow: hidden;
    .h60 {
        height: 60%;
    }
    .h40 {
        height: 40%;
    }
    .leftUp {
        background: url("./../img/line_left_up.png") left bottom no-repeat;
        background-size: 100% 94.5%;
    }
    .leftDown {
        background: url("./../img/line_left.png") top left no-repeat;
        background-size: 100% 100%;
    }
    .leftContent {
        padding: pxTorem(32px);
        .itemDiv {
            width: 100%;
            margin: pxTorem(20px) 0;
            color: #9de9ff;
        }
        .itemName {
            overflow: hidden;
        }
        .itemProgress {
            position: relative;
        }
        .ProgressBg {
            width: 100%;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 1px solid #11b8a2;
            display: block;
            height: 1rem;
            overflow: hidden;
            padding: 0;
            border-radius: pxTorem(160px);
            margin-top: pxTorem(3px);
            position: absolute
        }
        .ProgressValue {
            // width: 10%;
            min-width: 1%;
            -moz-appearance: none;
            -webkit-appearance: none; // border: 1px solid #11b8a2;
            background: #2eed8f;
            display: block;
            height: 1rem;
            overflow: hidden;
            padding: 0;
            border-radius: pxTorem(160px);
            margin-top: pxTorem(3px);
            position: absolute
        }
    }
    .leftContent2 {
        padding: pxTorem(20px);
        height: 100%;
        overflow: hidden;
    }
    .txtContent {
        height: calc(100% - 36px); // background: #ffffff;
    }
}

.rightControl {
    overflow: hidden;
    .h70 {
        height: 70%;
        margin-bottom: 0px;
    }
    .h30 {
        height: 30%;
    }
    .rightUp {
        background: url("./../img/line_right.png") bottom left no-repeat;
        background-size: 100% 95.5%;
    }
    .chinaMapDiv {
        background: url("./../img/line_center.png") top left no-repeat;
        background-position: left bottom;
        background-size: 99% 95.5%;
        position: relative;
    }
    .footDiv {
        background: url("./../img/line_foot.png") top left no-repeat;
        background-size: 100% 100%;
    }
    .footContent {
        position: relative;
        padding: pxTorem(20px);
        height: 100%;
        overflow: hidden;
        .txtTip {
            width: 40%;
            background: url("./../img/txt_tip01.png") center right no-repeat;
            position: absolute;
            z-index: 1;
            right: pxTorem(20px);
        }
    }
    .footTxtContent {
        // border: 1px solid #ffffff;
        height: 100%;
        position: relative;
        z-index: 3;
    }
    .rightContent {
        padding: pxTorem(20px);
        height: 100%;
    }
    .rightPie {
        padding: pxTorem(10px);
        height: calc(100% - 100px * 2 - 20px); // border: 1px solid #ffffff;
    }
}

.countDiv {
    border: 1px solid #11b8a2;
    height: pxTorem(100px);
    padding: pxTorem(20px) 0;
    .numberDiv {
        width: 100%;
        font-size: pxTorem(35px);
        line-height: pxTorem(35px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.imapContext {
    margin-top: pxTorem(10px);
    position: absolute;
    top: pxTorem(120px);
    left: pxTorem(50px); // border: 1px solid #0f34a9;
    width: 60%;
    height: 72%;
}

.imapChina {
    height: 100%;
    width: 100%;
}

.totalContext {
    position: absolute;
    top: pxTorem(120px);
    right: pxTorem(50px);
    width: 26%;
    height: 72%;
    padding-top: 3%;
    color: #9de9ff;
    .totalTxt {
        font-size: pxTorem(20px);
        margin-top: pxTorem(20px);
    }
    .totalNum {
        width: 100%;
        height: pxTorem(45px);
        line-height: pxTorem(45px);
        background: url("./../img/tip_bg.png") center no-repeat;
        background-size: 100% 100%;
        color: $color-yellow02;
        font-size: pxTorem(32px);
        padding: 0 pxTorem(8px);
        margin-top: pxTorem(8px);
    }
}

.totalDayContext {
    position: absolute;
    bottom: pxTorem(20px);
    left: pxTorem(50px);
    width: 60%;
    .totalDayDiv {
        width: 45%;
        .totalDayTxt {
            font-size: pxTorem(20px);
            color: $color-yellow;
        }
        .totalDayNum {
            width: 100%;
            height: pxTorem(60px);
            line-height: pxTorem(60px);
            background: url("./../img/tip_bg.png") center no-repeat;
            background-size: 100% 100%;
            color: $color-yellow02;
            font-size: pxTorem(32px);
            padding: 0 pxTorem(8px);
            margin-top: pxTorem(8px);
        }
    }
}