//reset
a {
    text-decoration: none;
    &:active {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:link {
        text-decoration: none;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.fn-left {
    text-align: left
}

.fn-right {
    text-align: right
}

.fn-center {
    text-align: center
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}