// Color
$color-bg: #fefefe;
$s-color-bg: #fff;
$color-font: #323232;
$color-font-white: #fff;
$color-highlight: #000;
$s-white: #dadada;
$color-hover: #b2b2b2;
$color-border: #c2c2c2;
$bg-deep: #333333;
$color-green: rgba(128, 189, 1, 1);
$color-background-deep: #ededed;
$color-background-shallow: #ededed+10;
// color
$color-yellow: #f1e531;
$color-yellow02:#f9eaa2;
$color-yellow01: #ffb300; // Font
$color-blue:#9de9ff;
// font 
$browser-default-font-size: 16px !default;
$size-font: (14/75)rem;
$size-text: (24/75)rem;
$sp-size: (26/75)rem;
$size-title: (30/75)rem;
$size-icon: 0.4rem;
$line-height: 1.5;
$family: "Helvetica Neue",
"Luxi Sans",
"DejaVu Sans",
Tahoma,
"Hiragino Sans GB",
STHeiti;
$font-header-lg: 1.75em;
$font-header-md: 1.5em;
$font-header-sm: 1.1em;
// Time
$side-time: 200ms;
$hover-time: 100ms;
// layout
$pd: (10/75)rem;
$mg-top: (100/75)rem;
$ct-width: 9.8rem;
$item-mg: (10/75)rem auto;
$item-shadow: 0 1px 10px color-hover;
// -radius
$br-radius: 0.5rem;